<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="pages2.css">
    <title>Login</title>
</head>
<body>
    <div class="menu">
        <div class="menu-card" id="baksoBiasa">
            <p>Bakso Original</p>
        </div>
        <div class="menu-card" id="baksoKeju">
            <p>Bakso Keju</p>
        </div>
        <div class="menu-card" id="baksoMercon">
            <p>Bakso Mercon</p>
        </div>
        <div class="menu-card" id="baksoUrat">
            <p>Bakso Urat</p>
        </div>
        <div class="menu-card" id="baksoBeranak">
            <p>Bakso Beranak</p>
        </div>


    </div>


<script src="/main.js"></script>
</body>
</html>